<h2 class="text-center">Lista de reservas</h2>

<div *ngIf="reservas.length > 0; else noReservas" class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Código</th>
        <th>Data de Início</th>
        <th>Cliente</th>
        <th>Quarto</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserva of reservas">
        <td>{{ reserva.id }}</td>
        <td>{{ reserva.data_Inicio }}</td>

        

        
        <td>{{ reserva.cliente.nome }}</td>
        <td>{{ reserva.quarto.numero }}</td>
        <td>
          <button *ngIf="reserva.id !== undefined" class="btn btn-success mr-2" (click)="consultarReserva(reserva.id!)">Consulta</button>
          <button *ngIf="reserva.id !== undefined" class="btn btn-info mr-2" (click)="alterarReserva(reserva.id!)">Alterar</button>
          <button *ngIf="reserva.id !== undefined" class="btn btn-danger" (click)="excluirReserva(reserva.id!)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noReservas>
  <p>Nenhuma reserva encontrada.</p>
</ng-template>
